:root{
    --verde-azul-claro-titilos : #6DCACE;
    --verde-semioscuro : #559FA2;
    --verde-resaltador : #67C0C3;
    --morado-titulo1: #9486EB;
    --rosado-morado: #B982D3;
    --verde-oscuro: #1F3E40;
    --fondo-verde-oscuro: #172326;
    --fondo-oscuro : #1E1E1E;
    --sombra-morado-fuerte: -6px 4px 0px -2px #9486EB;
    --sombra-rosado: 3px 4px 3px 1px #B886EB;
    --sombra-verde: 0px 4px 8px 0px #75EAEF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: var(--fondo-verde-oscuro);
}
/*cabecera*/
header{
    margin-top: 50px;
}
.content-titulos{
    width: 90%;
    min-width: 280px;
    margin: 0 auto;
}
.content-titulos .content-titulos__h2-head{
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--verde-azul-claro-titilos);
}
.content-titulos .content-titulos__h2-head-name{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--verde-azul-claro-titilos);

}
.content-titulos .content-titulos__h1-head{
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--morado-titulo1);
}
header img{
    position: absolute;
    width: 150px;
    height: 150px;
    box-shadow: var(--sombra-morado-fuerte);
    border-radius: 5px;
    right:calc(50% - 75px);
    margin-top: 30px;
    object-fit: cover;
}
header .parrafo{
    color: var(--verde-semioscuro);
    font-size: 1.4rem;
    text-align: justify;
    width: 90%;
    min-width: 285px;
    max-width: 350px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
/*---conteiner de tecnologias---*/
.section-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-titulo{
    text-align: center;
    margin: 25px 0;
}
.titulo-h2{
    color: var(--morado-titulo1);
    font-size: 2.0rem;
    font-weight: 500;
}
.conteiner-skills{
    display: grid;
    grid-template-columns: repeat(4, 70px);
}
.conteiner-skills .card-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner-skills .card-skills img{
    width: 50px;
    height: 50px;
}
.conteiner-skills .card-skills div{
    font-size: 1.4rem;
    color: var(--verde-azul-claro-titilos);
    margin: 8px 0;
}
/*---proyecto---*/
.projects-t{
    text-align: center;
    margin: 10px 0;
}
.projects{
    display: flex;
    justify-content: center;
}
.conteiner-card-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1000px;
    min-width: 300px;
}
.card-project{
    width: 300px;
    border-radius: 10px;
    box-shadow: var(--sombra-rosado);
}
.card-project .card-project__descripcion{
    background-color: var(--fondo-oscuro);
    height: 340px;
    border-radius: 0 0 10px 10px;
}
.card-project .img-projects{
    object-fit: cover;
    width: 100%;
    height: 270px;
    border-radius: 10px 10px 0 0;
}
.card-project .card-project__title{
    color: var(--morado-titulo1);
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    padding: 15px 0;
}
.card-project .card-project__parrafo{
    color: var(--verde-semioscuro);
    font-size: 1.4rem;
    text-align: justify;
    padding: 10px;
}
.card-project .card-project__title-tec{
    color: var(--rosado-morado);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    margin: 15px 0;
}
.card-project .conteiner-img-tec{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.card-project .conteiner-img-tec img{
    width: 20px;
    height: 20px;
}
.conteiner-botones{
    display: flex;
    justify-content: center;
    height: 40px;
    gap: 25px;
}

.boton-repo{
    width: 165px;
    height: 30px;
    background-color: var(--rosado-morado);
    
    border-radius: 5px;
}
.boton-repo__enlace{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.boton-text{
    font-size: 1.4rem;
    color: #ffffff;
    margin: 6px 0 0 5px;
}
.boton-img{
    margin-top:5px;
    width: 20px;
    height: 20px;
}
.boton-demo{
    background-color: var(--verde-resaltador);
    width: 78px;
    height: 30px;
    border-radius: 5px;
}
/*---footer---*/
.conteiner-footer{
    margin: 40px 0 20px 0;
}
.footer-div{
    width: 90%;
    margin: 0 auto;
    min-width: 300px;
    background-color: var(--verde-oscuro);
    border-radius: 20px;
    box-shadow: var(--sombra-verde);
}
.footer-div h2{
    color: #ffffff;
    text-align: center;
    font-size: 2.0rem;
    font-weight: 400;
    padding: 10px 0;
}
.conteiner-img-footer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.conteiner-img-footer img{
    width: 40px;
    height: 40px;
}